---
---
<html lang="pt">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Automações</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Righteous&display=swap" rel="stylesheet">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
</head>

<body>
    <!-- header section start -->
    <div class="header_section">
        {% include header.html %}
    </div>
    <!-- header section end -->
    <!-- services section start -->
    <div class="services_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-auto align-self-center">
                <div class="video-frame">
                    <video muted autoplay loop playsinline>
                        <source src="https://media-files-luxai-website.s3.us-east-2.amazonaws.com/SAF.mp4" type="video/mp4">
								Your browser does not support the video tag.
                    </video>
                </div>
            </div>    
            <div class="col-lg-6 align-self-center">
                <center>
                    <h1 class="services_taital mt-2">Sistema Automatizado de Fotografia</h1>
                </center>
                <p class="services_text">O CRIAR desenvolveu uma solução tecnológica inovadora que integra robótica e inteligência artificial para automatizar a avaliação de desempenho de câmeras de celulares. Utilizando um braço robótico Denso VS50, o sistema realiza um processo rigoroso de fotografias automáticas sob condições controladas. Simultaneamente, algoritmos de visão computacional e IA analisam as capturas para testar os sensores e classificar qual imagem apresenta a melhor qualidade técnica.</p>
                <p class="services_text mt-2">O objetivo do projeto é otimizar o controle de qualidade e a validação de hardware, permitindo uma análise padronizada e repetível. O desenvolvimento assegura precisão nos testes, auxiliando nas decisões humanas na escolha da melhor fotografia e garantindo a confiabilidade dos resultados dos dispositivos móveis.</p>
            </div>
        </div>   
        <div class="services_section_2">
            <hr class="mt-5 mb-5" style="border-top: 1px solid #eee;" /> 
            <div class="row pt-4">
                <div class="col-lg-7 my-auto align-self-center">
                    <div class="video-frame">
                        <video muted autoplay loop playsinline>
                            <source src="https://media-files-luxai-website.s3.us-east-2.amazonaws.com/farmacia.mp4" type="video/mp4">
							    Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <center>
                        <h1 class="services_taital mt-3">Robótica Assistiva na Gestão Inteligente de Medicamentos</h1>
                    </center>
                    <p class="services_text">O CRIAR, em parceria estratégica com o Hospital das Clínicas, desenvolveu um sistema robótico autônomo voltado para a manipulação de insumos hospitalares. A solução integra um braço robótico Kinova, equipado com câmera, a algoritmos avançados de inteligência artificial e visão computacional. O sistema é capaz de identificar, localizar e realizar a captura precisa de medicações.</p>
                    <p class="services_text mt-2">O objetivo principal da aplicação é a automação da logística de separação de medicamentos. Ao permitir que o braço robótico execute a tarefa de coleta de forma automática, o projeto visa aumentar a eficiência operacional e a segurança no manuseio de itens sensíveis.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- services section end -->
    <!-- footer section start -->
    {% include footer.html %}
    <!-- footer section end -->
    <!-- copyright section start -->
    {% include copyright.html %}
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript -->
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>

</html>