---
---
<html lang="pt">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Nossa História</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="css/style.css">
   <link rel="stylesheet" type="text/css" href="css/custom.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- fonts -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Righteous&display=swap" rel="stylesheet">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
</head>

<body>
   <!-- header section start -->
   <div class="header_section">
      {% include header.html %}
   </div>
   <!-- header section end -->
   <div class="services_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <h1 class="services_taital">Nossa História</h1>
            </div>

         </div>
         <div class="row" id="texto_sobre">
            <div class="col-md-3 d-md-block d-none">
				<div class="limit2" id="imagem_sobre"></div>
			</div>
			<div class="col-12 d-md-none d-block mx-auto mb-5 mt-2">
				<div class="limit2" id="imagem_sobre" style="height: 300px !important;"></div>
			</div>
            <div class="col-md-9">
               <p>O CRIAR – Centro de Inovação em Robótica e Inteligência Artificial Responsável nasce da união estratégica de duas iniciativas consolidadas no Centro de Informática da UFPE: o LuxAI e a Residência em Robótica e Inteligência Artificial. Ambas fazem parte dos Programas Prioritários de TICs (PPI) apoiados pelo Ministério da Ciência, Tecnologia e Inovação (MCTI), com recursos da Lei da Informática (<a href="http://www.planalto.gov.br/ccivil_03/leis/L8248compilado.htm" target="_blank" rel="noopener noreferrer">Lei nº 8.248/91</a>) por meio do <a href="https://www.gov.br/mcti/pt-br/acompanhe-o-mcti/lei-de-tics/2022-programa-nacional-de-software-para-exportacao-2013-softex" target="_blank" rel="noopener noreferrer">Programa SOFTEX</a>. Essa complementaridade permitiu a criação de um ecossistema robusto, que integra pesquisa aplicada, formação especializada, desenvolvimento tecnológico e inovação orientada para desafios reais da indústria e da sociedade.</p>
               <p class="mt-5">O LuxAI surgiu consolidou-se como um laboratório de excelência em Inteligência Artificial com ênfase em dispositivos móveis. Suas áreas de atuação incluem Fotografia Computacional, Análise de Qualidade de Imagem, Grandes e Pequenos Modelos de Linguagem, Agentes, RAG, otimização de desempenho em IA e desenvolvimento de aplicações móveis inteligentes. Além das atividades de pesquisa aplicada, oferece serviços especializados à indústria, como treinamento e fine tuning de modelos, criação de datasets, consultoria em aplicações embarcadas de IA e avaliação de desempenho de modelos em hardware restritivo.</p>
               <p class="mt-5">A Residência em Robótica e Inteligência Artificial está atualmente em sua 4ª turma, sendo um curso de pós-graduação Lato Sensu que combina formação teórica e prática em um modelo inspirado nas residências médicas. Seus participantes contam com infraestrutura laboratorial dedicada, robôs, ambientes de prototipação e apoio contínuo de líderes técnicos e engenheiros de software. A formação abrange testes de software, visão computacional, desenvolvimento robótico e inteligência artificial, sempre aplicada a desafios reais em colaboração com instituições como TRE-PE, HC-UFPE e outras iniciativas do CIn-UFPE. As atividades diárias são divididas entre aulas e o desenvolvimento de soluções de inovação, automação, execução de testes e experimentação tecnológica em equipe.</p>
               <p class="mt-5">Ao integrar essas duas frentes, o CRIAR estabelece um ambiente único que combina pesquisa avançada, formação profissional especializada e desenvolvimento tecnológico de alta complexidade. O centro se dedica a criar soluções inteligentes, eficientes e responsáveis, atendendo demandas reais de parceiros públicos e privados e impulsionando o avanço da robótica, da inteligência artificial e das tecnologias embarcadas no Brasil.</p>
            </div>
         </div>
      </div>
   </div>
   <!-- footer section start -->
   {% include footer.html %}
   <!-- footer section end -->
   <!-- copyright section start -->
   {% include copyright.html %}
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script>
   <script src="js/plugin.js"></script>
   <!-- sidebar -->
   <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="js/custom.js"></script>
   <!-- javascript -->
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>

</html>