<div class="services_section layout_padding">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="services_taital">Sobre nós</h1>
			</div>
		</div>
		<div class="row" id="texto_sobre">
			<div class="col-md-2 d-md-block d-none">
				<div class="limit" id="imagem_sobre"></div>
			</div>
			<div class="col-12 d-md-none d-block mx-auto mb-4 mt-2">
				<div class="limit" id="imagem_sobre" style="height: 300px !important;"></div>
			</div>
			<div class="col-md-10">
				<p>No CRIAR – Centro de Inovação em Robótica e Inteligência Artificial Responsável, transformamos desafios complexos em soluções inteligentes, eficientes e prontas para uso. Somos um ecossistema que une pesquisa aplicada, formação profissional e desenvolvimento tecnológico de alta complexidade, com foco em robótica, visão computacional, modelos de linguagem, agentes, RAG e aplicações embarcadas em dispositivos móveis. Com equipe especializada, infraestrutura de ponta e atuação conjunta com parceiros públicos e privados, entregamos inovação sob medida para quem precisa fazer mais, com mais qualidade, usando o melhor da IA e da robótica de forma responsável.</p>
			</div>
		</div>
	</div>
</div>