<div id="carouselExampleSlidesOnly" class="slide" data-ride="carousel" style="margin-bottom: 30px;" name="depoimentos">
    <div class="carousel-inner" style="background-color: #e5e9ff;">
        
        <div class="carousel-item depoimento_carousel active">
            <div class="container">
                <h2 class="depoimento_title">Ambiente Inovador</h2>
                <p class="depoimento_texto">"Só tenho a agradecer por essa incrível oportunidade. Aqui temos um ambiente totalmente inovador, com professores bem qualificados, equipe técnica que apoia o desenvolvimento e corpo docente capaz de auxiliar durante todo o curso. É uma experiência única para mim."</p>
                <p class="text-right">— Jefferson Norberto, Engenheiro de software e Ex-aluno</p>
            </div>
        </div>

        <div class="carousel-item depoimento_carousel">
            <div class="container">
                <h2 class="depoimento_title">Excelência Técnica</h2>
                <p class="depoimento_texto">"O apoio da equipe técnica e do corpo docente aliado ao intenso aprendizado que é proporcionado, é o que faz essa residência ser especial. O aprendizado proporcionado é de altíssimo nível."</p>
                <p class="text-right">— Felipe Mendonça, Ex-aluno</p>
            </div>
        </div>

        <div class="carousel-item depoimento_carousel">
            <div class="container">
                <h2 class="depoimento_title">Expansão de Horizontes</h2>
                <p class="depoimento_texto">"A residência é um mar aberto ao aprendizado. Desde o início, somos incentivados a crescer tanto pessoalmente quanto profissionalmente, compreendendo na teoria e na prática como as tecnologias se conectam. Só tenho a agradecer por fazer parte desse ecossistema leve e cheio de conhecimento, que me permitiu mostrar ainda mais meu potencial."</p>
                <p class="text-right">— Alex Cavalcanti, Residente</p>
            </div>
        </div>

        <div class="carousel-item depoimento_carousel">
            <div class="container">
                <h2 class="depoimento_title">Conexão com o Mercado</h2>
                <p class="depoimento_texto">"A residência me deu a oportunidade de conhecer duas áreas novas de conhecimento, que possuem grande potencial na indústria 4.0. Além de aprender a teoria com professores muito capacitados, poder aplicar isso na prática junto de uma equipe me capacitou e preparou ainda mais para os desafios do mercado."</p>
                <p class="text-right">— Jairton Filho, Engenheiro de software e Ex-aluno</p>
            </div>
        </div>

    </div>
</div>