<div class="services_section_2" id="pub_dermato">
    <div class="row">
        <div class="col-md-4 align-self-center">
            <div><img src="images/image_IMPACTO_DA_VARIABILIDADE_VISUAL.png"
                    class="services_img material_image publication_image">
            </div>
            <center>
                <p class="subtext"><br>Imagem gerada através do <a href="https://openai.com/index/dall-e-3/" target="_blank" rel="noopener noreferrer">DALL-E</a></p>
            </center>
        </div>
        <div class="col-md-8 align-self-center">
            <h2 class="text-center">🥈 Impacto da Variabilidade visual e artefatos em modelos de Inteligência Artificial aplicados à oncodermatologia</h2>
            <p class="services_text">O estudo mostra como condições de captura heterogêneas (iluminação, foco, enquadramento) e artefatos (gel, marcações, sombras) enviesam modelos de IA treinados com imagens dermatológicas. A equipe treinou CNNs em quatro bases públicas (HAM10000, PAD-UFES-20, DDI e ProveAI), analisou representações latentes e correlacionou-as com metadados para avaliar diversidade. Com IA explicável e avaliação de qualidade de imagem, identificou-se que artefatos degradam o desempenho e induzem decisões espúrias.</p>
            <p class="services_text pb-4">Trabalho de 2025 premiado como 2º colocado na trilha de Inovação da 16ª Conferência Brasileira sobre Melanoma (1ª conferência internacional do GBM)</p>
            <center>
                <a class="read_publication_button" href="publications/IMPACTO DA VARIABILIDADE VISUAL - Poster 2º lugar.png" target="_blank" rel="noopener noreferrer"><img src="images/books-icon.svg" class="read_publication_button_image">Acesse o pôster aqui!</a>
            </center>
        </div>
    </div>
    <hr class="mt-5" />
    <div class="row pt-4">
        <div class="col-md-4 align-self-center">
            <div><img src="images/image_publication_dermai.png" class="services_img material_image publication_image">
            </div>
            <center>
                <p class="subtext"><br>Imagem gerada através do <a href="https://openai.com/index/dall-e-3/" target="_blank" rel="noopener noreferrer">DALL-E</a></p>
            </center>
        </div>
        <div class="col-md-8 align-self-center">
            <h2 class="text-center">🥉 DermAI: Aplicativo móvel para coleta de imagens dermatológicas e desenvolvimento de IA inclusiva em oncodermatologia</h2>
            <p class="services_text">O DermAI integra coleta clínica padronizada e verificação automática de qualidade  de imagem (desfoque, iluminação) para formar datasets locais, robustos e diversos voltados à realidade brasileira e ao SUS. O app foi utilizado em consultas dermatológicas em unidades públicas, permitindo treinar modelos com grupos sub-representados e escalar por região.</p>
            <p class="services_text pb-4">Trabalho de 2025 premiado como 3º colocado na trilha de Inovação da 16ª Conferência Brasileira sobre Melanoma (1ª conferência internacional do GBM)</p>
            <center>
                <a class="read_publication_button" href="publications/DermAI Coleta - Poster 3º lugar.png" target="_blank" rel="noopener noreferrer"><img src="images/books-icon.svg" class="read_publication_button_image">Acesse o pôster aqui!</a>
            </center>
        </div>
    </div>
    <hr class="mt-5" />
    <div class="row pt-4">
        <div class="col-md-4 align-self-center">
            <div><img src="images/publicacao_analise_vies_dataset.jpeg"
                    class="services_img material_image publication_image">
            </div>
            <center>
                <p class="subtext"><br>Imagem gerada através do <a href="https://deepmind.google/technologies/imagen-3/" target="_blank" rel="noopener noreferrer">Imagen 3</a></p>
            </center>
        </div>
        <div class="col-md-8 align-self-center">
            <h2 class="text-center">Análise da Variabilidade e Viés em Conjuntos de Dados Dermatológicos para Classificação Baseada em Aprendizado de Máquina</h2>
            <p class="services_text">O trabalho investiga a lacuna entre imagens dermatoscópicas e clínicas em aplicações de aprendizado de máquina para diagnóstico dermatológico, destacando os desafios de generalização entre esses domínios. Os modelos atuais, treinados principalmente em dados dermatoscópicos de alta qualidade, enfrentam dificuldades ao lidar com variações intrínsecas de imagens clínicas capturadas por dispositivos não especializados, como smartphones. Problemas como diferenças de resolução, iluminação, ruído e distribuição de classes afetam a precisão na classificação, especialmente para lesões malignas, exacerbados pela escassez de dados clínicos robustos e diversificados.</p>
            <p class="services_text pb-4">A pesquisa avalia o impacto dessas variações por meio de experimentos com diferentes arquiteturas de redes neurais convolucionais (CNNs), abordando técnicas de transferência de aprendizado e fine-tuning para melhorar a adaptação em cenários clínicos.</p>
            <center>
                <a class="read_publication_button" href="https://arxiv.org/abs/2501.08962" target="_blank" rel="noopener noreferrer"><img src="images/books-icon.svg" class="read_publication_button_image">Acesse o texto completo aqui!</a>
            </center>
        </div>
    </div>
</div>