<div class="services_section_2" id="pub_relatorios">
    <div class="row" id="pub_llm_rag">
        <div class="col-md-4 align-self-center">
            <div><img src="images/publicacao_llm.png" class="services_img material_image publication_image">
            </div>
            <center>
                <p class="subtext"><br>Imagem gerada através do <a href="https://openai.com/index/dall-e-2/" target="_blank" rel="noopener noreferrer">DALL-E</a></p>
            </center>
        </div>
        <div class="col-md-8 align-self-center">
            <h2 class="text-center">Avaliação de LLMs e Retrieval Para Aplicação de RAG no Mobile</h2>
            <p class="services_text">Pesquisa sobre a avaliação de Grandes Modelos de Linguagem (LLMs) em conjunto com a Geração Aumentada por Recuperação (RAG) para uso em dispositivos móveis, um campo de crescente relevância no cenário atual da inteligência artificial. O trabalho propõe uma metodologia inovadora dividida em três etapas principais: a construção de uma base de dados que relaciona perguntas a contextos específicos, a geração de respostas utilizando diversos LLMs, e a avaliação dessas respostas por meio de um LLM Juiz, que classifica a qualidade das respostas com base em critérios objetivos.</p>
            <p class="services_text pb-4">Este trabalho oferece insights valiosos para o desenvolvimento de aplicações móveis que utilizam inteligência artificial, demonstrando como a combinação de LLMs com RAG pode resultar em sistemas mais eficientes e confiáveis para a geração e avaliação de respostas.</p>
            <center>
                <a class="read_publication_button" href="publications/Avaliacao_de_LLMs_e_Retrieval.pdf" target="_blank" rel="noopener noreferrer"><img src="images/books-icon.svg" class="read_publication_button_image">Acesse o texto completo aqui!</a>
            </center>
        </div>
    </div>
    <hr class="mt-5" />
    <div class="row pt-4">
        <div class="col-md-4 align-self-center">
            <div><img src="images/publicacao_prep_aug_derm.png" class="services_img material_image publication_image">
            </div>
            <center>
                <p class="subtext"><br>Imagem gerada através do <a href="https://openai.com/index/dall-e-2/" target="_blank" rel="noopener noreferrer">DALL-E</a></p>
            </center>
        </div>
        <div class="col-md-8 align-self-center">
            <h2 class="text-center">Pré-processamento e Augmentation em Dermoscopia para Classificação de Lesões de Pele</h2>
            <p class="services_text">Este estudo investiga o impacto de técnicas de pré-processamento e aumento de dados no desempenho de algoritmos de classificação de imagens dermoscópicas para diagnóstico de lesões cutâneas. Em particular, são avaliados métodos de constância de cor, que visam corrigir variações de iluminação e normalizar atributos cromáticos, facilitando a identificação de características críticas para a determinação de malignidade. O trabalho compara cinco algoritmos amplamente utilizados, incluindo Grey-World, max-RGB e Shades of Gray, aplicados tanto como pré-processamento quanto como aumento de dados durante o treinamento. As análises utilizam redes neurais convolucionais treinadas em um conjunto de dados padronizado (ISIC18) e examinam como essas abordagens impactam a generalização e o desempenho dos modelos.</p>
            <p class="services_text pb-4">Este trabalho contribui para a compreensão de limitações e oportunidades na aplicação de técnicas de normalização em imagens dermoscópicas, visando aprimorar ferramentas de inteligência artificial na dermatologia.</p>
            <center>
                <a class="read_publication_button" href="publications/Data_pre-processing-and_augmentation_on_dermoscopy_images_for_skin_lesion_classification.pdf" target="_blank" rel="noopener noreferrer"><img src="images/books-icon.svg" class="read_publication_button_image">Acesse o texto completo aqui!</a>
            </center>
        </div>
    </div>
    <hr class="mt-5" />
    <div class="row pt-4">
        <div class="col-md-4 align-self-center">
            <div><img src="images/publicacao_dett_seg_lesion.jpeg"
                    class="services_img material_image publication_image">
            </div>
            <center>
                <p class="subtext"><br>Imagem gerada através do <a href="https://deepmind.google/technologies/imagen-3/" target="_blank" rel="noopener noreferrer">Imagen 3</a></p>
            </center>
        </div>
        <div class="col-md-8 align-self-center">
            <h2 class="text-center">Detecção e Segmentação de Lesões Dermatológicas a Partir de Imagens RGB </h2>
            <p class="services_text">O trabalho aborda o desenvolvimento e a avaliação de métodos para detecção e segmentação de lesões dermatológicas utilizando imagens RGB em contextos clínicos. Para segmentação, foram implementados e comparados os modelos UNet e UNeXt, com destaque para a superioridade do UNeXt em termos de precisão (métrica Dice de 0,87) e eficiência em dispositivos móveis, essencial para aplicações práticas. A pesquisa utiliza o conjunto de dados ISIC18 para treinamento e validação, apontando a necessidade de máscaras de segmentação específicas para melhorar o desempenho em cenários clínicos reais. Além disso, o estudo avalia arquiteturas para detecção de lesões, como YOLOv7 e SSD MobileNet, utilizando dados anotados de diferentes fontes e aplicando técnicas de aumento de dados para melhorar a generalização.</p>
            <p class="services_text pb-4">A pesquisa enfatiza a importância da combinação de dados e de técnicas de pré-processamento para superar limitações de conjuntos pequenos. Por fim, os modelos foram integrados a um aplicativo móvel, demonstrando eficiência no diagnóstico assistido, com métricas promissoras, como precisão de 90% e F1-Score de 0,78, em testes realizados com imagens capturadas por smartphones.</p>
            <center>
                <a class="read_publication_button" href="publications/Lesions_detection_and_segmentation_from_RGB_images_in_clinical_dermatology.pdf" target="_blank" rel="noopener noreferrer"><img src="images/books-icon.svg" class="read_publication_button_image">Acesse o texto completo aqui!</a>
            </center>
        </div>
    </div>
    <hr class="mt-5" />
    <div class="row pt-4">
        <div class="col-md-4 align-self-center">
            <div><img src="images/publicacao_transf_sintetic_classif.jpeg"
                    class="services_img material_image publication_image">
            </div>
            <center>
                <p class="subtext"><br>Imagem gerada através do <a href="https://deepmind.google/technologies/imagen-3/" target="_blank" rel="noopener noreferrer">Imagen 3</a></p>
            </center>
        </div>
        <div class="col-md-8 align-self-center">
            <h2 class="text-center">Modelos Transformers e Imagens Sintéticas na Classificação de Lesões Cutâneas</h2>
            <p class="services_text">O trabalho explora o potencial de arquiteturas baseadas em transformers para a classificação de lesões cutâneas, um campo de relevância crítica na dermatologia clínica. A pesquisa utilizou o dataset ISIC24, notável por sua significativa desproporção de classes, contendo 393 imagens de lesões malignas frente a 400.666 benignas. Para lidar com esse desequilíbrio extremo, foram adotadas estratégias como balanceamento de lotes, redução de amostras negativas e geração de imagens sintéticas via Stable Diffusion. Modelos transformers, como ViT e Swin Transformer, foram comparados a arquiteturas convolucionais, revelando que, embora mais "data-hungry", os transformers demonstraram maior atenção a atributos locais das lesões. A introdução de imagens sintéticas mostrou benefícios como maior Recall, mas desafios como sobreajuste indicam a necessidade de maior diversidade nas imagens geradas.</p>
            <p class="services_text pb-4">A pesquisa destaca a importância de estratégias inovadoras para lidar com datasets desequilibrados e melhorar a aplicação de IA na detecção de doenças dermatológicas.</p>
            <center>
                <a class="read_publication_button" href="publications/Training_Lesion_classification_on_Synthetic_images_using_Stable_diffusion_and_transformers.pdf" target="_blank" rel="noopener noreferrer"><img src="images/books-icon.svg" class="read_publication_button_image">Acesse o texto completo aqui!</a>
            </center>
        </div>
    </div>
</div>