<label class="btn btn-secondary active">
    <input class="pub_button" type="radio" name="options" value="dermato" autocomplete="off" checked>
    <i class="material-symbols-outlined align-middle">dermatology</i>&nbsp;Dermatologia
</label>
<label class="btn btn-secondary">
    <input class="pub_button" type="radio" name="options" value="roboticaIA" autocomplete="off">
    <i class="material-symbols-outlined align-middle">precision_manufacturing</i>&nbsp;Robótica e IA
</label>
<label class="btn btn-secondary">
    <input class="pub_button" type="radio" name="options" value="visao" autocomplete="off">
    <i class="material-symbols-outlined align-middle">eye_tracking</i>&nbsp;Visão Computacional
</label>
<label class="btn btn-secondary">
    <input class="pub_button" type="radio" name="options" value="relatorios" autocomplete="off">
    <i class="material-symbols-outlined align-middle">newsstand</i>&nbsp;Relatórios técnicos
</label>