<label class="btn btn-secondary active">
    <input class="pub_button" type="radio" name="options" value="dermato" autocomplete="off" checked>
    Dermatologia
</label>
<label class="btn btn-secondary">
    <input class="pub_button" type="radio" name="options" value="relatorios" autocomplete="off">
    Relatórios técnicos
</label>
<label class="btn btn-secondary">
    <input class="pub_button" type="radio" name="options" value="robotica" autocomplete="off">
    Robótica
</label>
<label class="btn btn-secondary">
    <input class="pub_button" type="radio" name="options" value="visao" autocomplete="off">
    Visão Computacional
</label>